<%- include("templates/header") %> 
<div class="d-flex gap-2 justify-content-center py-5">  
    <h1 class="h3 mb-3 fw-normal" class="text-center">404 - Oops, burnt that page. It doesn't exist</h1>
    </div>
<div class="d-flex justify-content-center">
    <img class="img-fluid" id="burnt-toast" src="/public/images/burnttoast.webp">

</div>

<%- include("templates/footer") %>
