<%- include(`templates/header${headerSession}`) %>

<h1 class="py-5 text-center"><%= title %></h1>
<!-- Showing specified recipes selected from home page -->
<% for (let i = 0; i < recipe.length; i++) { %> 
<%- include('templates/recipeCard', {recipe: recipe[i], filteredRatings: filteredRatings, userEmail: userEmail}) %> <% } %> 
<%- include("templates/footer") %>
