<%- include("templates/header") %>
<main class="form-signin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
    <form action='/securityChangePassword' method='post' class="text-center">
        <h1 class="h3 mb-3 fw-normal">Change password!</h1>
        <div class="form-floating">
            <input name='password' type='password' class="form-control" id="floatingInput" placeholder='password'>
            <label for="floatingInput">Password</label>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-success">Submit</button>
    </form>
</div>
</main>
<%- include("templates/footer") %>