<%- include("templates/headerBeforeLogin") %> 
<main class="form-signin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5 px-5">
    <form action='/forgotLogin' method='post' class="text-center">
        <h1 class="h3 mb-3 fw-normal">Enter your email to reset your password</h1>
        <div class="form-floating">
            <input name='email' type='text' class="form-control" id="floatingInput" placeholder="Email Address">
            <label for="floatingInput">Email Address</label>
        </div>
        <button type="submit" class="w-10o btn btn-lg btn-success mt-3">Submit</button>
    </form>
</div>
</main>
</body>
</html>