<%- include("templates/header") %>

  <div class="text-center mb-5 mt-5">
    <h3>Start by searching for recipes using our image detection AI, or simply by using the search bar</h3>
  </div>
        <a href="/imageUpload" class="btn btn-success btn-lg d-flex justify-content-center mx-5">
      <i class="bi bi-camera me-2"></i>Search By Image!
    </a>
    <form class="form-inline my-5 mx-5" action="/search" method="GET">
      <div class="form-group">
        
            <label for="search_input">Search by recipe name or add as many ingredients as you want, separated by commas</label>
            <div class="input-group">
                <input type="text" class="form-control mb-3" id="search_input" name="q" placeholder="">
                <button type="submit" class="btn btn-success mb-3" id="">
                    <i class="bi bi-search"></i>
            </div>
        </div>
    </form>

    <div class="container" >
      <div class="card mb-3 custom-card">
        <img src="/public/images/recipehome1.jpeg" class="card-img-top rotated custom-image" alt="dinner" >
        <div class="card-body">
          <h1 class="card-title">Easy 30-minutes-or-less Dinners</h1>
          <p class="card-text">Here you'll find a collection of delicious recipes that your family will love! Flavored, well-rounded dishes with layer after layer of fresh goodness.</p>
          <p class="card-text"><a class="btn btn-primary" href="/browseRecipe/1" role="button">Explore</a></p>
        </div>
      </div>      
    </div>

    <div class="container" >
      <div class="card mb-3 custom-card">
        <img src="/public/images/recipehome2.jpeg" class="card-img-top rotate custom-image" alt="dinner" >
        <div class="card-body">
          <h1 class="card-title">Healthy and Low Calorie Recipes</h1>
          <p class="card-text">These nutritious and low-calorie recipes offer a perfect balance between nourishment and culinary delight.</p>
          <p class="card-text"><a class="btn btn-primary" href="/browseRecipe/2" role="button">Explore</a></p>
        </div>
      </div>      
    </div>


    <div class="container" >
      <div class="card mb-3 custom-card">
        <img src="/public/images/recipehome3.jpeg" class="card-img-top custom-image" alt="dinner" >
        <div class="card-body">
          <h1 class="card-title">Recipe of the Day</h1>
          <p class="card-text">Explore the top delicious recipes! They make any occasion feel extra-special, even everyday dinners.</p>
          <p class="card-text"><a class="btn btn-primary" href="/browseRecipe/3" role="button">Explore</a></p>
        </div>
      </div>      
    </div>
    

    <h2>Explore More</h2>

    <div class="card-container">
      <div class="card">
        <a href="/browseRecipe/4">
          <img src="/public/images/breakfast.jpeg" class="card-img-top-1" alt="breakfast">
        </a>
        <h3>Breakfast</h3>
      </div>
    
      <div class="card">
        <a href="/browseRecipe/5">
          <img src="/public/images/lunch.jpeg" class="card-img-top-1" alt="lunch">
        </a>
        <h3>Lunch</h3>
      </div>

      <div class="card">
        <a href="/browseRecipe/6">
          <img src="/public/images/dinner.jpeg" class="card-img-top-1" alt="dinner">
        </a>
        <h3>Dinner</h3>
      </div>

      <div class="card">
        <a href="/browseRecipe/7">
          <img src="/public/images/dessert.jpeg" class="card-img-top-1" alt="dessert">
        </a>
        <h3>Dessert</h3>
      </div>
    </div>
    
     
<div class="jumbotron jumbotron-fluid text-light mx-5 mb-4">
  <div class="container text-center">
      <h3 class="display-6">Try some of ReciPAL's community recipes!</h3>
  </div>
</div>
  <div class="box-shadow">

  <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#"><img src="/public/images/dish1.jpg" class="d-block w-100 carousel-img" alt="..."></a>
          <div class="carousel-caption d-md-block">
            <h5>First slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="/public/images/dish2.jpg" class="d-block w-100 carousel-img" alt="..."></a>
          <div class="carousel-caption d-md-block">
            <h5>Second slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="/public/images/dish3.jpg" class="d-block w-100 carousel-img" alt="..."></a>
          <div class="carousel-caption d-md-block">
            <h5>Third slide label</h5>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      

      <script>
        const carousel = new bootstrap.Carousel('#carouselExampleCaptions')
      </script>

    <%- include("templates/footer") %>