<%- include(`templates/header${headerSession}`) %> 

  <div class="text-center mb-5 mt-5">
    <h3>Welcome to your personalized recipe page!</h3>
  </div>
        <a href="/imageUpload" class="btn btn-primary btn-lg d-flex justify-content-center  ">
      <i class="bi bi-camera me-2"></i>Search By Image!
    </a>
    <form class="form-inline my-5 mx-5" action="/home" method="GET">
      <div class="form-group">
        <label for="search_input">Start adding some ingredients here. You can add as many as you like and We will only show you recipes that contain those ingredients.</label>
        <input type="text" class="form-control mb-3" id="search_input" name="q" value="<%= searchQuery %>" placeholder="ingredients, separated by commas.">
        <input class="mb-3" type="hidden" id="search_query" name="search" value="<%= searchQuery %>">
      </div>
      <button type="submit" class="btn btn-primary mb-3">Search</button>
    </form>
    

    <div class="container" >
      <div class="card mb-3 custom-card">
        <img src="/public/images/recipehome1.jpeg" class="card-img-top rotated" alt="dinner" style="width: 80%; height: auto; display: block; margin: 0 auto;">
        <div class="card-body">
          <h1 class="card-title">Easy 30-minutes-or-less Dinners</h1>
          <p class="card-text">Here you'll find a collection of delicious recipes that your family will love! Flavored, well-rounded dishes with layer after layer of fresh goodness.</p>
          <p class="card-text"><a class="btn btn-primary" href="/browseRecipe/1" role="button">Explore</a></p>
        </div>
      </div>      
    </div>

    <div class="container" >
      <div class="card mb-3 custom-card">
        <img src="/public/images/recipehome2.jpeg" class="card-img-top rotate" alt="dinner" style="width: 80%; height: auto; display: block; margin: 0 auto;">
        <div class="card-body">
          <h1 class="card-title">Healthy and Low Calorie Recipes</h1>
          <p class="card-text">These nutritious and low-calorie recipes offer a perfect balance between nourishment and culinary delight.</p>
          <p class="card-text"><a class="btn btn-primary" href="/browseRecipe/2" role="button">Explore</a></p>
        </div>
      </div>      
    </div>


    <div class="container" >
      <div class="card mb-3 custom-card">
        <img src="/public/images/recipehome3.jpeg" class="card-img-top " alt="dinner" style="width: 80%; height: auto; display: block; margin: 0 auto;">
        <div class="card-body">
          <h1 class="card-title">Recipe of the Day</h1>
          <p class="card-text">Explore the top delicious recipes! They make any occasion feel extra-special, even everyday dinners.</p>
          <p class="card-text"><a class="btn btn-primary" href="/browseRecipe/3" role="button">Explore</a></p>
        </div>
      </div>      
    </div>
    

    <h2>Explore More</h2>

    <div class="card-container">
      <div class="card">
        <a href="/browseRecipe/4">
          <img src="/public/images/breakfast.jpeg" class="card-img-top-1" alt="breakfast">
        </a>
        <h3>Breakfast</h3>
      </div>
    
      <div class="card">
        <a href="/browseRecipe/5">
          <img src="/public/images/lunch.jpeg" class="card-img-top-1" alt="lunch">
        </a>
        <h3>Lunch</h3>
      </div>

      <div class="card">
        <a href="/browseRecipe/6">
          <img src="/public/images/dinner.jpeg" class="card-img-top-1" alt="dinner">
        </a>
        <h3>Dinner</h3>
      </div>

      <div class="card">
        <a href="/browseRecipe/7">
          <img src="/public/images/dessert.jpeg" class="card-img-top-1" alt="dessert">
        </a>
        <h3>Dessert</h3>
      </div>
    </div>
    

    
    


<%- include("templates/footer") %>

