<%- include(`templates/header${headerSession}`) %> 

<h3 class="d-flex justify-content-center">image upload</h3>

<div id="image-box" class="card d-flex justify-content-center">
    <img id="image-preview" src="" alt="" style="width: 100%; height: 100%; object-fit: contain; display:hidden">

    <div id="upload-button" class="d-flex justify-content-center">
        <input type="file" name="image" id="image-upload" style="display:none" accept="image/*" capture="environment">
        <button class="button" id="" style="padding:10px;font-size:30pt" type="button"
        onclick="document.getElementById('image-upload').click()"><span> +
        </span>
    </button>

    <button id="analyze-button" style="display: none;" onclick="processImage()">Analyze Photo</button>
    </div>
</div>
<img id="loading" src="/public/images/loading-gif.gif" alt="" style="width: 20vw; height: auto; object-fit: contain; display:none">
<h3 class="d-flex justify-content-center">Ingredients:</h3>
<div id="ingredients-box">
</div>
<div id="searchButton-box" class="d-flex justify-content-center mt-3 "> 
</div>

<script>

    //let ImageFile; // Global variable to store the image file

    /*
    attribution: listenImageSelect code adapted from snippet by user "nkron" on StackOverflow.
    https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
    */
    function listenImageSelect() {
        console.log("listening for image select");
        var imgInput = document.getElementById("image-upload"); 
        var preview = document.getElementById("image-preview");

        imgInput.addEventListener('change', function (e) {
            console.log("image selected");
            ImageFile = e.target.files[0];   //Local variable
            const blob = URL.createObjectURL(ImageFile);
            preview.src = blob;
            preview.style.display = "block";
            document.getElementById("analyze-button").style.display = "block";
        });
    } listenImageSelect();

        // add 'Search by ingredient(s)' button
        const searchButton = document.createElement("button");
        searchButton.innerHTML = "Search by ingredient(s)";
        searchButton.style.display = "none";
        document.getElementById("searchButton-box").appendChild(searchButton);

        // add event listener to send GET request with ingredients array
        searchButton.addEventListener("click", function() {
            let ingredientsString = ingredientsArr.join(",");
            let url = "/home?q=" + ingredientsString;
            window.location.href = url;
        });


    function processImage() {
        if (!ImageFile) {
            return;
        }
        

        // show loading gif
        document.getElementById("loading").style.display = "block";

        const formData = new FormData(); // create a new form data object
        formData.append('image', ImageFile); // add the image file to the form data

        fetch('/process-image', { // send the image to the server using fetch
            method: 'POST',
            enctype: 'multipart/form-data',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // handle the response from the server here
            console.log(data);
            populateIngredients(data);
            document.getElementById("loading").style.display = "none";
        })
        .catch(error => {
            console.error("ERROR!!!"+error);
        });

    }
    var ingredientsArr = [];
    function populateIngredients(data) {
        let ingredientsBox = document.getElementById("ingredients-box");
        ingredientsBox.innerHTML = "";


        ingredientsArr.push(data[0].name);
        let threshold = 0.1;
        for (let i = 1; i < 5; i++) {
            if (data[i].value > threshold && (data[i-1].value / data[i].value) < 3 ) {
                ingredientsArr.push(data[i].name);
            }

        }

        for (let i = 0; i < ingredientsArr.length; i++) {
            let ingredient = document.createElement("button");
            ingredient.innerHTML = ingredientsArr[i] + "  \t X";
            ingredientsBox.appendChild(ingredient);

            // add event listener to remove ingredient and button
             ingredient.addEventListener("click", function() {
                ingredientsArr.splice(i, 1); // remove ingredient from array
                ingredient.remove(); // remove button from ingredientsBox
             });
        }

        console.log(ingredientsArr);

        searchButton.style.display = "block";

    }

    
</script>

<%- include(`templates/footer${headerSession}`) %>