<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ReciPAL</title>
    <link rel="icon" href="/public/images/favicon.ico">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
   
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/landing-page.css" />
  </head>
  <body>
    <div class="container">
      <div class="img">
        <img
          class="logo"
          src="/public/images/logo-no-background.png"
          alt="logo"
        />
      </div>
      <div class="buttons">
        <a href="/login"
           type="button" class="btn btn-success btn-lg custom-btn mx-4">
            Log In
          </a
        >
        <a href="/signup" class="btn btn-success btn-lg custom-btn">Sign Up</a>
        <div class="guest">
          <a href="/home" class="guest">Continue without Login</a>

        </div>
      </div>
    </div>
  </body>
</html>
