<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/styles/landing-page.css">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img class="logo" src="/public/images/recipal-logo.png" alt="logo">
        <a href="/login"><button class="btn">Log In</button></a>
        <a href="/signup"><button class="btn">Sign Up</button></a>
      </div>
    </div>
  </body>
</html>

