<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="/profile" class="nav-link" id="profile-info">Profile</a>
    </li>
    <li class="nav-item">
        <a href="/profile/preferences" class="nav-link active" id="preferences" >Preferences</a>
    </li>
</ul>
<form action="/savePreferences" method="post">
<div class="container mt-5">
  <h3 class="mb-3">Dietary Restrictions</h3>
  <div class="form-group mb-3">
    <label for="dietDrop">Select a dietary restriction</label>
    <select class="form-select" id="dietDrop" name="diet">
      <option value="">None</option>
      <option value="gluten-free">Gluten-free</option>
      <option value="vegan">Vegan</option>
      <option value="vegetarian">Vegetarian</option>
    </select>
  </div>

    <h3 class="mb-3">Other allergies / unwanted ingredients</h3>
    <p style="color: red">*Warning: There may still be some items in recipes that contain these ingredients. 
      Recipes will only be filtered out if the individual ingredient is listed
    </p>
    <div id="allergies-container">
      <div class="form-group mb-2">
        <input type="text" class="form-control" name="allergy" placeholder="Enter an allergy">
      </div>
      <div class="form-group mb-2">
        <input type="text" class="form-control" name="allergy" placeholder="Enter another allergy">
      </div>
    </div>
    <button type="button" class="btn btn-primary mb-3" id="add-allergy">Add another allergy</button>
    
    
    <button type="submit" class="btn btn-primary mb-3" id="submit">Save</button>
</form>
    
    <h3 class="mb-3">Your Recipe filters</h3>
    <div class="text-center">
        <h3 class="mt-3">Allergens</h3>
        <ul class="list-group">
            <% for (let i = 0; i < user.allergens.length; i++) { %>
                <%- include('templates/savedAllergens', {allergen: user.allergens[i]} ) %>
            <% } %>
        </ul>
    </div>

    <div class="text-center">
        <h3 class="mt-3">Diet restrictions</h3>
        <ul class="list-group">
            <% for (let i = 0; i < user.diet.length; i++) { %>
              <% if (!(user.diet[i] == '')) { %>
                <%- include('templates/savedDiet', {diet: user.diet[i]} ) %>
             <% } %>
                
            <% } %>
        </ul>
    </div>
</div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {

    var addAllergyBtn = document.getElementById('add-allergy');
    addAllergyBtn.addEventListener('click', function() {
      var allergiesContainer = document.getElementById('allergies-container');
      var newAllergyDiv = document.createElement('div');
      newAllergyDiv.classList.add('form-group', 'mb-2');
      var newAllergyInput = document.createElement('input');
      newAllergyInput.type = 'text';
      newAllergyInput.classList.add('form-control');
      newAllergyInput.name = 'allergy';
      newAllergyInput.placeholder = 'Enter another allergy';
      newAllergyDiv.appendChild(newAllergyInput);
      allergiesContainer.appendChild(newAllergyDiv);
    });
  });
  </script>