<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="/profile" class="nav-link" id="profile-info">Profile</a>
    </li>
    <li class="nav-item">
        <a href="/profile/preferences" class="nav-link active" id="preferences" >Preferences</a>
    </li>
</ul>
<form>
    <input type="text" id="ingredient" class="form-control">
</form>