<%- include("templates/header") %>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title mb-4">Preferences Saved</h3>
            <p class="card-text">Your preferences have been saved successfully.</p>
            <a href="/profile/preferences" class="btn btn-primary"><button class="btn btn-primary">Back to profile</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("templates/footer") %>
  