<%- include("templates/header") %> 
<!-- inspired from 1800 demo -->
<div class="container">
    <h1>User Profile </h1>
<div class="tab-content">
    <%- include(tabContent, {user: user}) %>
</div>
        
</div>
<%- include("templates/footer") %>
