<%- include("templates/header") %>


<body>
    <div class="container text-center mt-5">
      <h1 class="text-success mt-5"> Successfully Uploaded Recipe!</h1>
      <img src="/public/images/greencheck.png" class="card-img-top mx-auto d-block mt-5" alt="check" style="width:10%; height: auto;" >
      <a href="/home" class="btn btn-success mt-5">Go back Home</a>
    </div>
  </body>


<%- include("templates/footer") %>