<%- include(`templates/header`) %> 





<div class = "container card d-flex justify-content-center">
        <br/>
            <img id="loadingImage" src="/public/images/chef.gif" alt="please be patient...">

            
            <h1>Waiting room..</h1>
            <p>Preparing a custom recipe from the following ingredients:<br/> <%= ingredientsAI %></p>
            
</div>










    <% let url = "/airecipe/?q=" + ingredientsAI %>
    <script type="text/javascript">
        // Wait for the image to load
 
            var loadingImage = document.getElementById('loadingImage');
            loadingImage.addEventListener('load', function () {
                window.location.href = "<%= url %>";

            });

    </script>


<%- include("templates/footer") %>