<nav class="navbar fixed-bottom navbar-light mt-5" id="mobile">
  <div class="container-fluid justify-content-between mx-5">

    <div class="navbar-nav">
      <a class="nav-link" href="/home"><i class="bi bi-house"></i></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="#"><i class="bi bi-upload"></i></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="/profile"><i class="bi bi-person"></i></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="/favorites"><i class="bi bi-heart"></i></a>
    </div>
    
  </div>
</nav>

<footer class="py-3" id="desktop">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
    <li class="nav-item"><a href="/signup" class="nav-link px-2 text-body-secondary">Signup</a></li>
    <li class="nav-item"><a href="/login" class="nav-link px-2 text-body-secondary">Login</a></li>
    <li class="nav-item"><a href="/profile" class="nav-link px-2 text-body-secondary">Profile</a></li>
  </ul>
  <p class="text-center text-body-secondary">&copy; ReciPAL, COMP 2800 BBY-13 2023</p>
</footer>
</body>
</html>