<form action="/preferences/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this from your profile?'
)">
    <input type="hidden" name="type" value="allergens">
    <input type="hidden" name="value" value="<%= allergen %>">
    <%= allergen %>
    <button class="btn btn-danger" type="submit">Delete</button>
</form>