<form action="/preferences/delete" method="post">
    <input type="hidden" name="type" value="diet">
    <input type="hidden" name="value" value="<%= diet %>">
    <%= diet %>
    <button class="btn btn-danger" type="submit">Delete</button>
</form>