<form action="/preferences/delete" method="post">
    <input type="hidden" name="type" value="allergens">
    <input type="hidden" name="value" value="<%= allergen %>">
    <%= allergen %>
    <button class="btn btn-danger" type="submit">Delete</button>
</form>