body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}
nav {
    background-color: #DD7373;
  }
  
  #footer {
    background-color: #DD7373;
  }

.recipal-logo {
    max-height: 40vh;
}


#image-preview {
    width: 94vw; 
    height: 40vh; 
    object-fit: cover; 
    display:none;
    justify-content: center;

    border-radius: 20px;
}

#image-box{
    width: 94vw; 
    height: 40vh; 
    border-radius: 20px;
    justify-content: center;
    margin: auto;
    background-color: aliceblue;
    margin-bottom: 10px;
    


}


#loading{
 /* position:static;
 bottom: -10%; */

}


@media (min-width: 1000px) {
    #desktop {
        display: block;
    }
    #mobile {
        display: none;
    }
    
}

@media (max-width: 900px) {
    #desktop {
        display: none;
    }
}

