
body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}
.recipal-logo {
    max-height: 40vh;
}
#mobile {
    display: none;
}
#desktop {
    display: block;
}

@media (max-width: 900px) {
    #desktop {
        display: none;
    }
    #mobile {
display: inline-flex;
    }
}

